<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<bean id="triangle" class="com.laxman.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean>
	
	<bean id="pointA" class="com.laxman.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	<bean id="pointB" class="com.laxman.Point">
		<property name="x" value="-18" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointC" class="com.laxman.Point">
		<property name="x" value="0" />
		<property name="y" value="16" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig" />
	</bean>
	<!-- <bean class="com.laxman.MyBeanFactoryPP" />
	<bean class="com.laxman.DisplayNameBeanPostProcessor"></bean> --> <!-- to call DisplayNameBeanPostProcessor class -->
</beans>
